<div class="ui inverted segment" xmlns:th="http://www.thymeleaf.org" th:fragment="menu_fragment">
    <script th:src="@{/js/menu.js}"></script>

    <link th:href="@{/css/menu.css}" rel="stylesheet">

    <div class="ui inverted secondary pointing menu">
        <a class="item" href="/">
            <i class="home icon"></i>
            TOP
        </a>
        <a class="item" href="/viewer">
            <i class="users icon"></i>
            社員情報一覧
        </a>
        <a class="item" href="/register">
            <i class="edit icon"></i>
            社員情報登録
        </a>
        <a class="item" href="/assignee">
            <i class="edit icon"></i>
            配属先編集
        </a>
    </div>
</div>