<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jna.example.training.infrastructure.mapper.PrefecturesMapper">
    <select id="getPrefecturesList" resultType="jna.example.training.infrastructure.entity.PrefecturesEntity">
        SELECT
            *
        From m_prefectures
    </select>

</mapper>