<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一覧</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- semantic.css  -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">

    <!-- semantic.js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

    <!-- tablesort.js -->
    <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>

    <script th:src="@{/js/viewer.js}"></script>

    <link th:href="@{/css/viewer.css}" rel="stylesheet">


</head>

<body>
<!-- th:replaceを使用して、 メニュー用のフラグメントを読込みます -->
<div th:replace="common/menu :: menu_fragment"></div>

<div class="ui container">
    <h2 class="ui header">[[${msg}]]</h2>
    <div class="ui container" th:object="${viewerSearchRequest}">

        <div class="ui error message" th:if="${#fields.hasErrors('*')}">
            <div class="header">
                エラー
            </div>
            <ul class="list">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="ui success message" th:if="${complete}">
            <div class="header">
                成功
            </div>
            <p th:text="#{delete.complete}"></p>
        </div>

        <form class="ui form" method="get" th:action="@{/viewer/search}">

            <h4 class="ui dividing header">
                <i class="search icon"></i>
                検索条件
            </h4>

            <div class="ui grid">
                <div class="one wide column">
                </div>

                <div class="eight wide column">
                    <div class="row field">
                        <div class="ui labeled input">
                            <label class="ui teal label ">社員番号</label>
                            <input type="text" th:field="*{empNo}" placeholder="部分一致で検索">
                        </div>
                    </div>
                    <div class="row field">
                        <div class="ui labeled input">
                            <label class="ui teal label ">氏名　　</label>
                            <input type="text" th:field="*{userName}" placeholder="部分一致で検索">
                        </div>
                    </div>

                </div>


                <div class="sixteen wide column right aligned">
                    <button class="ui green button">検索</button>

                </div>

                <div class="sixteen wide column" th:if="${viewerResponse != null}">
                    <h4 class="ui dividing header">
                        検索結果（[[${#lists.size(viewerResponse.responseList)}]]件）
                    </h4>

                    <table class="ui sortable teal celled table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th class="profile">プロフィール</th>
                            <th>社員番号</th>
                            <th>氏名</th>
                            <th>生年月日</th>
                            <th>性別</th>
                            <th>出身地</th>
                            <th>ニックネーム</th>
                            <th>配属先</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="response, responseStat : ${viewerResponse.responseList}">
                            <td th:text="${responseStat.count}"></td>
                            <td><img class="ui Tiny circular image profile__image"
                                     th:src="${response.getPhoto() != null} ? ${response.getPhoto()} : '/images/square-image.png'">
                            </td>
                            <td th:text="${response.getEmpNo()}"></td>
                            <td th:text="${response.getUserName()}"></td>
                            <td th:text="${response.getBirthDate() != null} ? ${response.getBirthDate()} : '-'"></td>
                            <td th:text="${response.getSexName()}"></td>
                            <td th:text="${response.getBirthPlaceName()}"></td>
                            <td th:text="${response.getNickName() != null} ? ${response.getNickName()} : '-'"></td>
                            <td th:text="${response.getAssigneeName()}"></td>
                            <td>
                                <div class="ui buttons">
                                    <button type="button" class="ui orange button"
                                            th:attr="onclick='window.location.href=\'/editor/' + ${response.getEmpNo()} + '\''">
                                        編集
                                    </button>
                                    <div class="or"></div>
                                    <button type="button" class="ui red button" name="deleteModal"
                                            th:data-id="${response.getEmpNo()}"
                                            th:data-userName="${response.getUserName()}">削除
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

    <!-- action属性はjsファイルで動的に変更 -->
        <form name="formModal" method="GET">
            <div class="ui basic modal">
                <div class="ui icon header">
                    <i class="trash alternate icon"></i>
                    削除しますか？
                </div>
                <div class="content">
                    <p class="modal__p" id="delEmpNo"/>
                    <p class="modal__p" id="delUserName"/>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                        キャンセル
                    </div>
                    <a href="javascript:formModal.submit()">
                        <div class="ui green ok inverted button">
                            <i class="checkmark icon"></i>
                            削除
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>